@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    /*overflow-x: hidden;*/
    background: rgb(6,250,208);
    background: linear-gradient(0deg, #006CA1 0%, #90B5E1 100%);
    min-height: 100vh;
}

.section1 li{
    list-style: none;

}

.video_prsentation{
    height: 300px;
    position: absolute;
    border: #fff solid 2px;
    top: 50%;
    right: 30%;
    transform: translate(-10%, -90%);
    border-radius: 14px;
    width: 700px;
}
.video_{
    height: 300px;
    position: absolute;
}


#sec1{
    position: absolute;
    height: 90px;
    top: 30px;
    right: 1306px;
}

#sec2{
    position: absolute;
    height: 500px;
    top: 0px;
    right: 0px;
}
#sec3{
    position: absolute;
    height: 300px;
    top: 65px;
    right: 800px;
}
#sec4{
    position: absolute;
    height: 300px;
    top: 80%;
    right: 25%;
}
.btn-suscribe-2{
    padding: 16px 36px;
    background:linear-gradient(90deg, #94C121 0%,#94C121 37%, #09A03A 100%); ;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    scroll-margin-top: 100px;
    top: 65%;
    right: 48%;
}

.btn-suscribe-2  a{
    text-decoration: none;
    color: #fff;
}



.services{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
    background: rgba(255, 255, 255, 0.493);

}
.Servies{
    padding: 100px 0px;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.548);
}

.Servies h1{
    color: #09A03A;
    font-size: 50px;

}


.services_items{
    padding: 21px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    position: relative;

}
.services_items p{
    padding: 0px;

}

.service{
    padding: 10px 200px;
    justify-content: center;
    justify-items: center;
}
.service p{
    margin-top: 25px;
    text-justify: newspaper;
    
}
.service_image{
    margin-top: 50px;
    height: 100px;
    color: #09A03A;
}

.about_us{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 0px;
    min-height: 90vh;
    background: rgba(255, 255, 255, 0.548);
    

}
.about{
    padding: 10px 200px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    position: relative;
}

.about_us h1{
    color: #09A03A;
    font-size: 50px;
    
}

.image_digodo{
    height: 350px;
}
._text{
    justify-content: left;
    text-align: left;
    padding: 10px 150px;
}
